<h1> <%= @track.name %> </h1>
<h3> <%= link_to @track.album.name, album_url(@track.album) %> </h3>
<h3> <%= link_to @track.band.name, band_url(@track.band) %> </h3>

<%= link_to "Tracks Home", tracks_url%>
